name: flash_chat
description: A new Flutter application.

version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  animated_text_kit: ^1.3.0
  cupertino_icons: ^0.1.2
  cloud_firestore: ^0.12.0
  firebase_core: ^0.4.0+1
  firebase_auth: ^0.11.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
  - images/
